{
  "extends": "airbnb/legacy",
  "root": true,
  "env": {
    "node": true
  },
  "global": {
    "Promise": false
  },
  "rules": {
    "eqeqeq": [2, "smart"],
    "no-eq-null": 0,
    "id-length": [1, {
      "exceptions": ["$", "_", "e", "i", "j"]
    }]
  }
}
