.console {
  padding: 25px;
  margin: 0;
  overflow: scroll;
  background: #333;
  color: #eee;
  height: 100%;
  .chunk {
    display: inline;
  }
  .stderr {
    background-color: rgba(255,0,0, 0.1);
  }
  .stdin {
    background: rgb(125, 125, 0);
    color: white;
    &:after {
      display: block;
      content: "";
    }
  }
  .command {
    display: block;
    &:before {
      content: "$ ";
    }
  }
  .system {
    &:before {
      content: "SYSTEM: ";
      color: yellow;
    }
  }
  .signal {
    background: red;
    color: white;
    font-weight: bold;
    &:after {
      display: block;
      content: "";
    }
  }
  label {
    margin: 25px 0 0;
    display: block;
    position: relative;
    &:before {
      content: "$ ";
      color: yellow;
      display: inline;
      position: absolute;
      left: 0;
    }
  }
  textarea, .textarea {
    background: transparent;
    border: 0 none;
    color: #fff;
    display: block;
    width: 100%;
    resize: none;
    margin: 0;
    padding: 0;
    color: #fff;
    outline: 0;
    padding-left: 25px;
  }
}

.pane--scroll {
  height: 100%;
}
.pane-title {
  height: 80px;
}
.pane-content {
  position: absolute;
  top: 80px;
  bottom: 0;
  overflow: auto;
  right: 0;
  left: 0;
}

.aligner {
  display: flex;
  &--center {
    justify-content: center;
    align-items: center;
    .aligner-item {
      text-align: center;
    }
  }
  &--vertical {
    flex-direction: column;
  }
  &--horizontal {
    flex-direction: row;
  }
  &--wrap {
    flex-wrap: wrap;
  }
  &-item {
    &--start {
      align-self: flex-start;
    }
    &--end {
      align-self: flex-end;
    }
    &--grow-1 {
      flex-grow: 1;
    }
    &--grow-2 {
      flex-grow: 2;
    }
    &--grow-3 {
      flex-grow: 3;
    }
    &--grow-4 {
      flex-grow: 4;
    }
    &--grow-5 {
      flex-grow: 5;
    }
  }
}

.body-actions {
  text-align: right;
}
